:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

/* BASE */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* HERO TITTLE */
.hero-tittle {
  color: var(--color-primary-light);
}

.hero-tittle .accent {
  color: var(--color-brand-light); /* HEX value */
}

/* BUTTON */
.button {
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background: var(--color-brand-light);
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent; /* прозорий */
}

/* LINK */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* ADVANTAGES SECTION */
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}
.section-tittle .accent {
  color: var(--color-brand-dark);
}
